
.warning-message-container {
    /* width: 100vw; */
    background-color: #8C2020;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    /* align-items: center;  */
    /* box-sizing: border-box; */
    padding: 20px;
    z-index: 9999;
    text-align: center;
}

.subtract-image{
    width:25px;
    transform: translateY(-3px);
    margin-right: 5px;
}

.warning-message-container h1 {
    margin: 0;
    font-size: 18px;
}

